@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
  font-style: normal;
}

body{
    background-color: #f4f2ed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.clues{
    width:300px;
    display:flex;
    flex-direction:column;
    background-color: #f9fafb;
    padding: 30px;

  }
  
  .clue{
    height:50px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 30px;
  }

  .clue1{
    background-color:#ffa9a9;
    border-radius: 10px 10px 0 0;
  }

    .clue2{
        background-color:#ff8989;
    }

    .clue3{
        background-color:#f97979;
    }
    .clue4{
        background-color:#ff5a5a;
    }
    .clue5{
        background-color:	#ff4949;
        border-radius: 0 0 10px 10px;
    }
    
  
  .input{
    margin: 20px 0;
    height:40px;
    border:1px solid rgba(255, 201, 201, 0.614);
    border-radius: 10px;
    padding-left: 15px;
  }

  .wrong-answers{
    display:flex;
    flex-direction:row;
    gap: 10px;
    border: 1px solid rgba(255, 201, 201, 0.614);
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: scroll;
  }

  .submit{
    padding: 15px;
    background-color: #181919;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
  }

  .submit:disabled{
    cursor: not-allowed;
    background-color: #181919f6;
  }

  .message,.next{
    background-color: #5cb85c;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
  .next{
    border: none;
    background-color: #181919;
    cursor: pointer;
  }